h2{
  border-width: 0px 0px 1px 1px;
  border-color:black;
  border-style:solid;
  margin-top:0px;
  box-sizing:border-box;
  width:150px;
  text-align:center;
  float:right;
}
.chicken{
    color: black;
    background-color: pink;
}
.mutton{
    color: white;
    background-color: red;
}
.egg{
    color: black;
    background-color: lightyellow;

}

article{
    border: 2px solid black;
    display:inline-block;
    background-color: #999999;
    font-size: 20px;
    padding:0px 0px 10px 10px;
    margin: 10px;
}
p{
  padding-top:20px;
}

h1{
    text-align:center;
}

h2{
    margin:0;
}

.container{
 /* display: table-caption; */
}



@media(min-width:992px){

article {
  width:30%;
}
}
@media(max-width:991px) and (min-width:768px){
article{
  width:44%;
}
article:nth-child(3){
  width:96%;
}
}
@media(max-width: 767px){
 
 article{
   width:100%;
 }
}